$primary-color: #01423a;
$primary-color-light: #18bfac;
$text-color: white;
$text-color-inverse: black;
$text-color-crossed: rgb(142, 142, 142);
$delete-color: #b44a03;
$error-color: #ff0000;

$breakpoint: 800px;