@use "./base" as *;

.table-cell-crossed {
    text-decoration: line-through;
    color: $text-color-crossed;
}

.table-cell-solution {
    font-weight: bold;
    text-shadow: 0 0 10px $primary-color-light;
}