@use "./base" as *;

.input-player {
  max-width: 20em;
}

.add-player {
  cursor: pointer;

  &:hover {
    color: $primary-color-light;
  }
}

.delete-player {
  cursor: pointer;

  &:hover {
    color: $delete-color;
  }
}
