@use "./base" as *;
@use "./app";
@use "./startScreen";
@use "./cards";
@use "./main";
@use "./gameTable";
@use "./gameTablePart";
@use "./gameEvents";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: $primary-color;
    color: $text-color;
    height: 100%;
    overflow: hidden;
}

#root {
    height: 100%;
}
